# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# uploads (optional - if you don't want images public)
uploads/

# build files
dist/
build/

# IDE
.vscode/